<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :company, "company:", class: "col-xs-2 control-label" %>
      <div class="col-xs-3">
        <%= f.object.company&.name %>
      </div>
    </div>    
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :department, "department:", class: "col-xs-2 control-label" %>
      <div class="col-xs-3">
        <%= f.select(:department_id, @departments.collect{ |d| [d.name, d.id] }, {:include_blank => 'Select department' }, { class: "form-control" } ) %>
      </div>
    </div>    
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :role, "role:", class: "col-xs-2 control-label" %>
      <div class="col-xs-3">
        <%= f.select(:role_id, @roles.collect{ |r| [r.name, r.id] }, {:include_blank => 'Select status' }, { class: "form-control" } ) %>
      </div>
    </div>    
  </div>  
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :title, "title:", class: "col-xs-2 control-label" %>
      <div class="col-xs-3">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>    
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :salary, "salary:", class: "col-xs-2 control-label" %>
      <div class="col-xs-3">
        <%= f.text_field :salary, class: "form-control" %>
      </div>
    </div>    
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :bonus, "bonus:", class: "col-xs-2 control-label" %>
      <div class="col-xs-3">
        <%= f.text_field :bonus, class: "form-control" %>
      </div>
    </div>    
  </div>
</div>