<div class="row">
    <div class="col-xs-12">
      <div class="col-xs-5">
        <div class="form-group">
          <%= label_tag :company, "company:", options={class:"col-xs-4 control-label"} %>
          <div class="col-xs-8">
            <p class="form-control-static"><%= @employee.company&.name %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-5">
        <div class="form-group">
          <%= label_tag :department, "department:", options={class:"col-xs-4 control-label"} %>
          <div class="col-xs-8">
            <p class="form-control-static"><%= @employee.department&.name %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-5">
        <div class="form-group">
          <%= label_tag :role, "role:", options={class:"col-xs-4 control-label"} %>
          <div class="col-xs-8">
            <p class="form-control-static"><%= @employee.role&.name %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-5">
        <div class="form-group">
          <%= label_tag :title, "title:", options={class:"col-xs-4 control-label"} %>
          <div class="col-xs-8">
            <p class="form-control-static"><%= @employee.title %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-5">
        <div class="form-group">
          <%= label_tag :salary, "salary:", options={class:"col-xs-4 control-label"} %>
          <div class="col-xs-8">
            <p class="form-control-static"><%= @employee.salary %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-5">
        <div class="form-group">
          <%= label_tag :bonus, "bonus:", options={class:"col-xs-4 control-label"} %>
          <div class="col-xs-8">
            <p class="form-control-static"><%= @employee.bonus %></p>
          </div>
        </div>
      </div>
    </div>
</div>