
<%= render "shared/error_messages", object: f.object %>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :name, "name:", class: "col-xs-2 control-label" %>
      <div class="col-xs-3">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>    
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :address_street, "street address:", class: "col-xs-2 control-label" %>
      <div class="col-xs-3">
        <%= f.text_field :address_street, class: "form-control" %>
      </div>
    </div>    
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :phone_home, "phone(home):", class: "col-xs-2 control-label" %>
      <div class="col-xs-3">
        <%= f.text_field :phone_home, class: "form-control" %>
      </div>
    </div>    
  </div>
</div>

<div class="row">
	<div class="col-xs-12">
			<h4 class="page-header"> Position information </h4>			
	</div>
</div>     

<%= render policy(f.object).edit_compensation? ? "comp_fields" : "comp_fields_readonly", f: f %>
