<div>
	<h1 style="display:inline-block;">Employee id: <%= @employee.id %></h1>			
	<h4 class="pull-right"><%= fa_icon("cancel") %> <%= link_to 'cancel', employee_path(@employee) %></h4>
</div>

<%= form_for(@employee, url: employee_path(@employee), html: {class: "form-horizontal", role: "form"}) do |f| %>
	<%= render "fields", f: f %>
 	  <div class="form-group">
	    <div class="col-xs-offset-2 col-xs-5">
	      <%= f.submit "Update Employee", class: "btn btn-primary btn-large btn-block", data: { disable_with: "Please wait..." } %>
	    </div>
	  </div>	  
<% end %>