
<div>
	<h1 style="display:inline-block;">Employee id: <%= @employee.id %></h1>			
	<h4 class="pull-right"><%= fa_icon("edit") %> <%= link_to 'edit', edit_employee_path(@employee) %></h4>
</div>

<div class="row">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">employee</a></li>
    <li role="presentation"><a href="#versions" aria-controls="versions" role="tab" data-toggle="tab">Data changes <span class='badge'><%= @employee.versions.count %></span></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    	<br>
			<div class="row">
				<form class="form-horizontal" role="form">
					<div class="col-xs-12">
						<div class="col-xs-5">
						  <div class="form-group">
								<%= label_tag :name, "name:", options={class:"col-xs-4 control-label"} %>
								<div class="col-xs-8">
									<p class="form-control-static"><%= @employee.name %></p>
								</div>
						  </div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="col-xs-5">
						  <div class="form-group">
								<%= label_tag :address_street, "street address:", options={class:"col-xs-4 control-label"} %>
								<div class="col-xs-8">
									<p class="form-control-static"><%= @employee.address_street %></p>
								</div>
						  </div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="col-xs-5">
						  <div class="form-group">
								<%= label_tag :phone_home, "phone(home):", options={class:"col-xs-4 control-label"} %>
								<div class="col-xs-8">
									<p class="form-control-static"><%= @employee.phone_home %></p>
								</div>
						  </div>
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="col-xs-12">
						<h4 class="page-header"> Position information </h4>			
				</div>
			</div>

			<%= render "comp_fields_readonly", f: @employee %>

    </div>
    <div role="tabpanel" class="tab-pane" id="versions"><br>
			<div class="col-xs-12">
				<%= render "shared/paper_trail", versions: @employee.versions %>
			</div>
    </div>
  </div>
