<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-signin'} ) do |f| %>
  
	<%= image_tag "logo-signin.png", class: "form-signin-logo" %>

	<%= f.select(:email, @users.collect{ |user| [user.to_login, user.email] }, {:include_blank => 'Select employee' }, { class: "form-control", style: "height: 35px; margin-bottom: 10px"} ) %>

  <%= f.hidden_field :password, id: "inputPassword", value: "password", class: "form-control", placeholder: "password", autocomplete: "off", maxlength: 50 %>

  <%= f.submit "Sign in", class: 'btn btn-lg btn-primary btn-block', data: { disable_with: "Please wait..." } %>

<% end %>
