
	<div class="alert <%= bootstrap_alert_class_for(type) %>" role="alert">
		<% if dismiss %>
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	      <span aria-hidden="true">
	        <i class="icon fa fa-times-circle fa-md"></i><!-- &times; -->
	      </span>
	    </button>
	  <% end %>              
	  <%= yield %>
	</div>



           