<% if object.errors.any? %>
	<div id="error_explanation">
		
		<%= render :layout => '/shared/alert_messages', :locals => {:type => :error, :dismiss => false} do %>
		  <strong><%=  "Error".pluralize(object.errors.count) %> with this form.</strong>
		<% end %> 

		<ul>
			<% object.errors.full_messages.each do |err| %>
				<li><%= err %></li>				
			<% end %>
		</ul>
	</div>
<% end %>


