<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>event</th>
      <th>field</th>
      <th>old value</th>
      <th>new value</th>
      <th>user</th>
      <th>date/time</th>
    </tr>
  </thead>

  <tbody>
    <% versions.each do |v| %>
    	<% if (v.event == "update") %>
        <% v.changeset.keys.each do |k| %>
	        <tr>
	        	<td><%= v.id %></td>
	        	<td><%= v.event %></td>
	        	<td><%= k %></td>
	        	<td><%= v.changeset[k][0] %></td>
	        	<td><%= v.changeset[k][1] %></td>
	        	<td><%= v.whodunnit %></td>
	        	<td><%= v.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
	        </tr>
        <% end %>			      	
    	<% else %>
	        <tr>
	        	<td><%= v.id %></td>
	        	<td><%= v.event %></td>
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        	<td><%= v.whodunnit %></td>
	        	<td><%= v.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
	        </tr>
    	<% end %>			      
    <% end %>
  </tbody>
</table>