<%= render "shared/error_messages", object: f.object %>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :name, "name:", class: "col-xs-2 control-label" %>
      <div class="col-xs-3">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>    
  </div>
</div>
     

