<div>
	<%= render "header" %>		
	<h4 class="pull-right"><%= fa_icon("cancel") %> <%= link_to 'cancel', company_path(@company) %></h4>
</div>

<%= form_for(@company, url: company_path(@company), html: {class: "form-horizontal", role: "form"}) do |f| %>
	<%= render "fields", f: f %>
 	  <div class="form-group">
	    <div class="col-xs-offset-2 col-xs-5">
	      <%= f.submit "Update Company", class: "btn btn-primary btn-large btn-block", data: { disable_with: "Please wait..." } %>
	    </div>
	  </div>	  

<% end %>