<%= render "header" %>	
<h4 class="page-header"> Employees </h4>	
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>address</th>
      <th>phone</th>
      <th>department</th>
      <th>role</th>
      <th>title</th>
      <th>salary</th>
      <th>bonus</th>      
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |emp| %>
	    <tr>
	    	<td><%= link_to emp.id, employee_path(emp), class: 'btn btn-default' %></td>
	    	<td><%= emp.name %></td>
	    	<td><%= emp.address_street %></td>
	    	<td><%= emp.phone_home %></td>
	    	<td><%= emp.department.name %></td>
	    	<td><%= emp.role.name %></td>
	    	<td><%= emp.title %></td>
	    	<td><%= emp.salary %></td>
	    	<td><%= emp.bonus %></td>
	    </tr>    	
    <% end %>
  </tbody>
</table>

