
<div>
	<%= render "header" %>		
	<h4 class="pull-right"><%= fa_icon("edit") %> <%= link_to 'edit', edit_company_path(@company) %></h4>
</div>

<div class="row">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">company</a></li>
    <li role="presentation"><a href="#versions" aria-controls="versions" role="tab" data-toggle="tab">Data changes <span class='badge'><%= @company.versions.count %></span></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    	<br>
			<div class="row">
				<form class="form-horizontal" role="form">
					<div class="col-xs-12">
						<div class="col-xs-5">
						  <div class="form-group">
								<%= label_tag :name, "name:", options={class:"col-xs-4 control-label"} %>
								<div class="col-xs-8">
									<p class="form-control-static"><%= @company.name %></p>
								</div>
						  </div>
						</div>
						<div class="col-xs-1"></div>
						<div class="col-xs-5">
						</div>	
					</div>


				</form>
			</div>

    </div>
    <div role="tabpanel" class="tab-pane" id="versions"><br>
			<div class="col-xs-12">
				<%= render "shared/paper_trail", versions: @company.versions %>
			</div>
    </div>
  </div>

</div>
