<%= render "header" %>	
<h4 class="page-header"> Summary Report </h4>	
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>department</th>
      <th>employee</th>
      <th>salary</th>     
    </tr>
  </thead>

  <tbody>
    <% @records.each do |r| %>
	    <tr>
	    	<td><%= link_to r.employee_id, employee_path(r.employee_id), class: 'btn btn-default' %></td>
	    	<td><%= r.department_name %></td>
	    	<td><%= r.employee_name %></td>
	    	<td><%= r.salary %></td>
	    </tr>    	
    <% end %>
  </tbody>
</table>

