<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to(root_path, class: 'navbar-brand')  do %>
        <%= image_tag "logo-signin.png", height: 30 %>
      <% end %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav ">
        <% if policy(current_user.company).show? %>
          <li><%= link_to 'Company Information', company_path(current_user.company) %></li>
        <% end %>             
        <li><%= link_to 'Employee Profile', employee_path(current_user.employee) %></li>  
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="accountMenu" >  
          <%= current_user.employee&.name %>     
          <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="accountMenu">
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>        
      </ul>
    </div>
  </div>
</nav>

