<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->


    <title><%# = yield(:page_title) %></title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

  	<%= render 'layouts/header' %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-2 sidebar">
          <%= yield(:sidebar) %>    							
        </div>
        <div class="col-xs-10 col-xs-offset-2 main">

          <% flash.delete(:timedout).each do |message_type, message| %>
              <%= render :layout => '/shared/alert_messages', :locals => { :type => message_type, :dismiss => true } do %>
              <%= message %>
            <% end %> 
          <% end %>  

        	<%= yield(:page_header) %>
          <%= yield %>
          
        </div>
      </div>
    </div>
  </body>

    <script>
      $( document ).ready(function() {
        $(".alert-success").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert-success").alert('close');
        });
        $(".alert-info").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert-info").alert('close');
        });
        $('input:enabled:visible:first').focus();
        $('[data-toggle="popover"]').popover();
      });
    </script>

</html>
