<% content_for :sidebar do %>
<%
  render_navigation do |primary|

	  primary.dom_class = 'nav nav-sidebar'

	  primary.item :employees,
	  							"Employees", 
	  							employees_company_path(@company)

  	primary.item :summary_report, 
  							'Summary Report', 
  							summary_report_company_path(@company)
  end
%> 
<% end %>

<%= render template: "layouts/application" %>
